@using Vendor_Application_Inventory_Platform.Areas.User.ViewModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@model CompanyVM
@{
    Layout = "_uLayout";
    ViewData["title"] = "Details";
}


<section>
    <div class="col-12 d-flex align-items-center justify-content-center" style="height:50vh; background-image: url('@Url.Content("~/SystemImage/companybgImage.jpg")'); background-size: cover; background-position: center;">
        <h1 class="text-center text-white">@Model.CVM_Company.CompanyName</h1>
    </div>
</section>

<section style="margin-left: 10vw;">
    <h1 class="m-4 ms-0 citisoft-text-color">@Model.CVM_Company.CompanyName</h1>
    <p>Established date: <span>@Model.CVM_Company.EstablishedDate</span> </p>
    <p style="margin-right: 10vw;">
       @Model.CVM_Company.Description
    </p>
    <button id="visitWebsite" type="button" class="btn btn-outline-primary " style="margin: 20px 0;" data-link="@Model.CVM_Company.WebsiteURL">Visit Website</button>
    <div>
        <p>Internal professional service: 
            @if (@Model.CVM_Company.InternalProfessionalServices == false)
            {
                <span>No</span>
            }
            else
            {
                <span>Yes</span>
            }
            
            
        </p>


        <p>Number of employee: <span>@Model.CVM_Company.NumberOfEmployee</span> </p>
       
    </div>
</section>

<section style="margin-left: 10vw;">
    <div class="m-5">
        <div class="d-flex">
            <div class="col-5" style="margin-right: 10vw;">
                <p class="citisoft-text-color">Location</p>

                @foreach (var country in Model.contactData)
                {
                    foreach (var city in country.Value)
                    {
                        <div>[@country.Key.ToString()], @city.Key.ToString()</div>
                    }
                }
            </div>

            <div class="col-5">
                <p class="citisoft-text-color">Contact Numbers</p>
                @foreach (var country in Model.contactData)
                {
                    foreach (var city in country.Value)
                    {
                        foreach (var contact in city.Value)
                        {
                            if (contact.Key == "Contact Number")
                            {
                                <div>[@city.Key.ToString()] + @contact.Value </div>
                            }

                        }

                    }
                }
                
            </div>

        </div>
        <div style="margin:20px 0">
            <p class="citisoft-text-color">Address</p>

            @foreach (var country in Model.contactData)
            {
                foreach (var city in country.Value)
                {
                    foreach (var contact in city.Value)
                    {
                        if (contact.Key == "Address")
                        {
                            <div>[@city.Key.ToString()] + @contact.Value </div>
                        }

                    }

                }
            }
        </div>
    </div>


</section>

<section style="margin-left: 10vw; margin-bottom:10vh">
    <h3 class="citisoft-text-color" style="margin-bottom:50px" >Software by @Model.CVM_Company.CompanyName</h3>
    <div class="row gy-4">
    @foreach(var software in Model.CVM_Software)
    {
        <div class="col-lg-4" style="margin: 20px 0">
            <!-- <p@returnedSoftware.SoftwareName</p> -->
            <img src="../../@Url.Content(software.ImagePath)" class="software-image-link" style="width:250px; height:200px; object-fit:contain; object-position:center" onclick="NavigateToViewDetailsPage(@software.SoftwareID)" />
        </div>
    }
    </div>
</section>



@section Scripts{
    <script>
    $('#view-company').removeClass('indicator-off')
    // Attach a click event listener to the visit website button
    document.getElementById("visitWebsite").addEventListener("click", function () {
        var weblink = document.getElementById('visitWebsite').dataset.link

        var cleanedWeblink = weblink.substring(6) //Due to error in database, the '/' in the link is omitted and hence cause error

        // Change the current location to the desired website
        window.open(`https://${cleanedWeblink}`, "_blank");

        //window.location.href = document.getElementById('visitWebsite').dataset.webURL;


    });



        function NavigateToViewDetailsPage(softwareid) {
            console.log(`Going to page with id: ${softwareid}`)
            // Replace 'YourController' and 'YourAction' with the appropriate controller and action names
            var url = '@Url.Action("Details", "Software", new { softwareid = "__softwareid__" })';
            url = url.replace('__softwareid__', softwareid);
            window.location.href = url;
        }
    </script>
}