@using Vendor_Application_Inventory_Platform.Areas.User.ViewModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@model SoftwareVM 
@{
    Layout = "_Layout";
    ViewData["title"] = "Details";
}


<div class="row">
    <div class="col-md-4 d-flex justify-content-center align-items-center">


        <img src="../../@Url.Content(Model.ImagePath)" alt="company logo" style="width: 250px; height:200px; object-fit:contain;"/>


    </div>
    <div class="col-md-6">

        <div class="fs-5 fw-bold mb-2">@Model.SoftwareName</div>


        <div class="mb-2">
            <span class="text-primary">Company Name: </span>
            @Model.CompanyName
        </div>
        <div class="mb-2">
            <span class="text-primary">Business Areas: </span>
            <div class="standard-margin-left">

                @foreach (var businessArea in Model.businessAreas)
                {
                    <div>@businessArea.Description</div>
                }
            </div>

        </div>
        <div class="mb-2">
            Rating
            @if (@Model.softwareRating < 3)
            {
                <span class="text-danger">@Model.softwareRating</span>
            }
            else
            {
                <span class="text-info">@Model.softwareRating</span>
            }
            /5
        </div>
        <div class="d-flex">
            <button type="button" id="visitWebsite" data-link="@Model.websiteURL" class="btn btn-primary text-nowrap me-1">Official Website</button>

            <div class="dropdown me-1">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Generate Report
                </button>
                <ul class="dropdown-menu p-0">
                    <li>
                        <form asp-action="DownloadExcel" method="post" class="dropdown-item">
                            <input type="hidden" name="softwareId" asp-for="softwareID"/>
                            <button type="submit" class="btn w-100">Download Excel</button>
                        </form>
                    </li>
                    <li class="dropdown-item">
                        <a class="btn" asp-action="GeneratePdf" asp-route-softwareId="@Model.softwareID" class="d-block py-2 px-3">Download PDF</a>
                    </li>
                </ul>
            </div>

            @if (Model.DocumentAttached)
            {
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Uploaded Pdf
                    </button>
                    <ul class="dropdown-menu p-0">
                        <li class="dropdown-item">
                            <a class="btn" asp-area="Admin" asp-action="ViewPdf" asp-route-id="@Model.softwareID" class="d-block py-2 px-3">View PDF</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="btn" asp-area="Admin" asp-action="DownloadPdf" asp-route-id="@Model.softwareID" class="d-block py-2 px-3">Download PDF</a>
                        </li>
                    </ul>
                </div>
            }







        </div>

    </div>
</div>
<div class="mt-5 border-top pt-3">
    <h5>Software Description</h5>
    <p>
        @Model.SoftwareDescription
    </p>
</div>

<!-- Loop throught the contact data-->

<div class="row mt-5 border-top pt-3">
    <h5>Company Information</h5>
    <div class="row mt-3">
        <div class="mb-2">
            <span class="text-primary">Name: </span>@Model.CompanyName
        </div>
        <div class="mb-2">
            <span class="text-primary">Established Date: </span>@Model.companyEstablishedDate.Year
        </div>


        <div class="col-sm-6">
            <p class="text-primary">Locations</p>

            @foreach (var country in Model.companyContactData)
            {
                foreach (var city in country.Value)
                {
                    <div>[@country.Key.ToString()], @city.Key.ToString()</div>
                }
            }

        </div>


        <div class="col-sm-6">
            <p class="text-primary">Contacts</p>

            @foreach (var country in Model.companyContactData)
            {
                foreach (var city in country.Value)
                {
                    foreach (var contact in city.Value)
                    {
                        if (contact.Key == "Contact Number")
                        {
                            <div>[@city.Key.ToString()] + @contact.Value </div>
                        }
                    }
                }
            }
        </div>
    </div>
    <div class="mt-2">
        <button type="button" id="viewCompany" onclick="NavigateToCompanyView(@Model.CompanyId)" class="btn btn-outline-primary" style="width:120px">Learn more</button>
    </div>
</div>

<!-- Review section -->
<div class="mt-5 border-top pt-3 row gy-3">
    <h5 class="col-5">Reviews</h5>

    @foreach (var review in Model.reviews)
    {
        <div class="standard-margin-left col-7 light-gray-bg rounded py-1">
            <div class="d-flex align-items-center">

                <span class="text-primary" style="margin-right:15px">@review.employeeFirstName @review.employeeLastName</span>
                <div class="d-flex col-3" style="margin: 0 10px">
                    @for (int i = 0; i < review.givenStar; i++)
                    {
                        <div style="margin-right:8px">
                            <i class="bi bi-star-fill" style="color: gold;"></i>
                        </div>
                    }

                </div>
                <span> @review.ReviewDate </span>
            </div>

            <p>@review.Description</p>
        </div>
    }

</div>


<!-- Drop review -->
<div id="review" class="mt-5 standard-margin-left">

    <form asp-action="AddComment" method="post">
        <div class="d-flex">
            <label class="form-label citisoft-text-color p-2" for="userReview">Drop your review here</label>


            <div class="d-flex">
                <label class="starContainer">
                    <input value="1" type="radio" name="ratingStar" onclick="updateStar()">
                    <span class="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                </label>
                <label class="starContainer">
                    <input value="2" type="radio" name="ratingStar" onclick="updateStar()">
                    <span class="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                </label>
                <label class="starContainer">
                    <input value="3" type="radio" name="ratingStar" onclick="updateStar()">
                    <span class="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                </label>
                <label class="starContainer">
                    <input value="4" type="radio" name="ratingStar" onclick="updateStar()">
                    <span class="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                </label>
                <label class="starContainer">
                    <input value="5" type="radio" name="ratingStar" checked="checked" onclick="updateStar()">
                    <span class="star">
                        <i class="bi bi-star-fill"></i>
                    </span>
                </label>

            </div>


        </div>
        <div class="mb-3 d-flex align-top">
            <input type="hidden" name="softwareId" asp-for="softwareID"/>

            <textarea class="form-control-light" placeholder="Your review..." id="userReview" for="userReview" name="userReview"></textarea>
            <span asp-validation-for="newReview.Description" class="text-danger"></span>
        </div>
        <div class="col-9 col-md-8 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


</div>


<div class="mt-5 border-top pt-3 row">
    <div class="col-12 text-center mb-2">
        <h5>See also</h5>
    </div>


    <div class="row g-4">
        @* check if similar software if empty *@
        @if (Model.similarSoftwares.Count == 0)
        {
            <div class="col-12 text-center ms-2">No similar software found</div>
        }
        else
        {
            @foreach (var software in Model.similarSoftwares)
            {
                <div class="col-lg-4" style="margin: 20px 0">
                    @* <!-- <p>@returnedSoftware.SoftwareName</p> --> *@
                    <img src="../../@Url.Content(software.ImagePath)" class="software-image-link" style="width:250px; height:200px; object-fit:contain; object-position:center" onclick="NavigateToViewDetailsPage(@software.SoftwareID)"/>
                </div>
            }
        }


    </div>

</div>

<div class="mt-5"></div>


@section Scripts{

    <script>
    
        $('#view-software').removeClass('indicator-off');
        // Attach a click event listener to the visit website button
        document.getElementById("visitWebsite").addEventListener("click", function () {
            var weblink = document.getElementById('visitWebsite').dataset.link

            var cleanedWeblink = weblink.substring(6); //Due to error in database, the '/' in the link is omitted and hence cause error

            // Change the current location to the desired website
            window.open(`https://${cleanedWeblink}`, "_blank");

            //window.location.href = document.getElementById('visitWebsite').dataset.webURL;

            
        });


        function updateStar() {
            var starRadioLists = document.getElementsByName('ratingStar')
            var starIconList = document.getElementsByClassName('star')

            //Reset the star color for all star
            for (var i = 0; i < starIconList.length; i++) {
                starIconList[i].classList.remove('active')
            }



            var checkedIndex = starRadioLists.length - 1;
            //For each starList check which is checked and set all the previous star color to activate
            for (var i = 0; i < starRadioLists.length; i++) {
                if (starRadioLists[i].checked) {
                    checkedIndex = i
                    console.log(checkedIndex)
                }
            }
            starIconList[checkedIndex].classList.add('active')

            //Set yellow to the all the star up to the selected star
            for (var i = 0; i < checkedIndex + 1; i++) {
                starIconList[i].classList.add('active')
            }

        }

        updateStar()



        function NavigateToViewDetailsPage(softwareid) {
            console.log(`Going to page with id: ${softwareid}`)
            // Replace 'YourController' and 'YourAction' with the appropriate controller and action names
            var url = '@Url.Action("Details", "Software", new { softwareid = "__softwareid__" })';
            url = url.replace('__softwareid__', softwareid);
            window.location.href = url;
        }

        function NavigateToCompanyView(companyId){
            var url = '@Url.Action("Details", "Company", new { companyId = "__companyId__" })';
            url = url.replace('__companyId__', companyId);
            window.location.href = url;
        }

    </script>

}